h1 {
    color:red;
    font-size:30px;
    text-align:center;
}

figure {
    color:red;
    text-align:center;
}

body {
    background-color:white;
    text-align:justify;
}

.persName {
    color:blue;
}

.rs {
    color:purple;
}

.c {
    font-variant:small-caps; 
    font-size:20px;
    color:red;
}