h1 {
    color:red;
    font-size:30px;
    text-align:center;
}
h2 {
    color:red;
    font-size:15px;
    text-align:center;
}

body {
    background-color:white;
    text-align:justify;
}

.cb {
    font-size:15px;
    color:red;
}

.pb {
    font-size:15px;
    color:red;
}

.persName {
    color:blue;
}

.placeName {
    color:brown;
}

.rs {
    color:purple;
}

.c {
    font-variant:small-caps; 
    font-size:20px;
    color:red;
}

.num {
    font-variant:small-caps;
}

.del {
    text-decoration:line-through;
    }
    
.lem {
    text-decoration:underline;
}