p{
    text-indent:1em;
    text-align:justify;
}
h1 {
    color:red;
    font-size:30px;
    text-align:center;
}
h2 {
    color:red;
    font-size:15px;
    text-align:center;
}

body {
    background-color:white;
    text-align:justify;
    margin:12em;
}

.cb {
    font-size:15px;
    color:red;
}

.pb {
    font-size:15px;
    color:red;
}

.url{
    font-size:15px;
    color:red;
}

.persName {
    color:blue;
}

.placeName {
    color:green;
}

.rs {
    color:navy;    
    cursor: pointer;
}

.place {
    color:olive;    
    cursor: pointer;
}

.people {
    color:pink;
}

.c {
    font-variant:small-caps; 
    font-size:30px;
    color:red;
}

.num {
    font-variant:small-caps;
}

.del {
    text-decoration:line-through;
    }
    
.lem {
    color:darkgrey;
}

.note {
    text-decoration:underline;    
    cursor: pointer;
}